@font-face {
    font-family: "Ranchers";
    src: url(../fonts/Ranchers-Regular.ttf);
}

.flex {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    margin: 3rem;
    font-size: 1.5rem;
    text-shadow: 3px 3px black;
    width: 350px;
    justify-content: space-around;
}

header>section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>section>img {
    height: 4rem;
    width: auto;
}

#game {
    display: flex;
    justify-content: center;
}

#game>* {
    margin-top: 13rem;
    text-align: center;
}

#player>img {
    transform: scale(1.5) rotate(90deg) scaleX(-1);
}

#player,
#computer {
    margin: 13rem;
    margin-bottom: 1rem;
}
#computer>img, #player>img{
    width:150px;
}
#computer>img {
    transform: scale(1.5) rotate(270deg);
}

#game>section>h3 {
    margin-top: -10rem;
    margin-bottom: 7rem;
    font-size: 2rem;
}

#Start {
    border-radius: 10px;
    border: 2px solid black;
    background-color: #E58F65;
    font-size: 2rem;
    font-family: inherit;
}

#Start:hover {
    transform: scale(1.1);
}

body {
    margin: auto;
    background-color: #F9E784;
    font-family: "Ranchers", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rock {
    color: #8C6057;
}

#paper {
    color: #FEF9FF;
}

#scissors {
    color: #829298;
}

#rounds {
    font-size: 3rem;
    color: #E58F65;
    text-shadow: 3px 3px black;
}

.score {
    text-shadow: 3px 2px black;
    color: #E58F65;
}

.roundStartPlayer {
    animation: jumpPlayer 0.5s 4;
}

.roundStartComputer {
    animation: jumpComputer 0.5s 4;
}
#counter{
    position:absolute;
    z-index: 9;
    opacity: 0.5;
    color:white;
    font-size: 18rem;
    top:7rem;
    visibility: hidden;
}

input {
    margin-top: 3rem;
    width: 60%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #F9E784;
}

#outputMessage{
    text-align: center;
    color:#E58F65;
    font-size: 5rem;
    transition:height 1s ease-out;
    height:0;
    overflow:hidden;
}

#outputMessage h1{
    margin: 0;
}

@keyframes changeBackground {
    0% {
        background-color: #8C6057
    }

    25% {
        background-color: #FEF9FF
    }

    50% {
        background-color: #829298
    }
}

@keyframes jumpPlayer {
    0% {
        transform: translate(0%, 0%) scale(1.5) rotate(90deg) scaleX(-1)
    }

    50% {
        transform: translate(0%, -50%) scale(1.5) rotate(90deg) scaleX(-1)
    }
}

@keyframes jumpComputer {
    0% {
        transform: translate(0%, 0%) scale(1.5) rotate(270deg) scaleX(1)
    }

    50% {
        transform: translate(0%, -50%) scale(1.5) rotate(270deg) scaleX(1)
    }
}