/* Fonts */
@font-face {
    font-family: "Ranchers";
    src: url(../fonts/Ranchers-Regular.ttf);
}

/* Variables */
:root {
    --orange_writing: #E58F65;
    --shadowing: 3px 3px black;
    --black_border: 2px solid black;
    --scale_transform: scale(1.1);
}

body {
    margin: auto;
    background-color: #F9E784;
    font-family: "Ranchers", sans-serif;
}

/* Header */
.titleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3rem;
    font-size: 1.5rem;
    text-shadow: var(--shadowing);
    width: 350px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

header>section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header>section:hover {
    -webkit-transform: var(--scale_transform);
    -ms-transform: var(--scale_transform);
    transform: var(--scale_transform);
    cursor: pointer;
}

#rock {
    color: #8C6057;
}

#paper {
    color: #FEF9FF;
}

#scissors {
    color: #829298;
}

header>section>img {
    height: 4rem;
    width: auto;
}

/* Outcome message  */
#outputMessage {
    text-align: center;
    color: var(--orange_writing);
    font-size: 5rem;
    -webkit-transition: height 1s ease-out;
    -o-transition: height 1s ease-out;
    transition: height 1s ease-out;
    height: 0;
    overflow: hidden;
}

#outputMessage h1 {
    margin: 0;
}

/* Main */
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#game>* {
    margin-top: 13rem;
    text-align: center;
    width: 60%;
}

#game>figure>figcaption>h3 {
    margin-top: -10rem;
    margin-bottom: 7rem;
    font-size: 2rem;
}

.score {
    text-shadow: var(--shadowing);
    color: var(--orange_writing);
}

input {
    margin-top: 3rem;
    width: 90%;
    border-radius: 5px;
    border: var(--black_border);
    background-color: rgba(255, 255, 255, 0.6);
    padding: .5rem;
}

#player,
#computer {
    margin: 13rem;
    margin-bottom: 1rem;
}

#computer>img,
#player>img {
    width: 150px;
}

#player>img {
    -webkit-transform: scale(1.5) rotate(90deg) scaleX(-1);
    -ms-transform: scale(1.5) rotate(90deg) scaleX(-1);
    transform: scale(1.5) rotate(90deg) scaleX(-1);
}

#computer>img {
    -webkit-transform: scale(1.5) rotate(270deg);
    -ms-transform: scale(1.5) rotate(270deg);
    transform: scale(1.5) rotate(270deg);
}

#rounds {
    font-size: 3rem;
    color: var(--orange_writing);
    text-shadow: var(--shadowing);
}

#counter {
    position: absolute;
    z-index: 9;
    opacity: 0.5;
    color: white;
    font-size: 18rem;
    top: 7rem;
    visibility: hidden;
}

#start {
    border-radius: 10px;
    border: var(--black_border);
    background-color: var(--orange_writing);
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
}

#start:hover {
    -webkit-transform: var(--scale_transform);
    -ms-transform: var(--scale_transform);
    transform: var(--scale_transform);
}

.roundStartPlayer {
    -webkit-animation: jumpPlayer 0.5s 4;
    animation: jumpPlayer 0.5s 4;
}

.roundStartComputer {
    -webkit-animation: jumpComputer 0.5s 4;
    animation: jumpComputer 0.5s 4;
}

/* Animations */
@-webkit-keyframes jumpPlayer {
    0% {
        -webkit-transform: translate(0%, 0%) scale(1.5) rotate(90deg) scaleX(-1);
        transform: translate(0%, 0%) scale(1.5) rotate(90deg) scaleX(-1)
    }

    50% {
        -webkit-transform: translate(0%, -50%) scale(1.5) rotate(90deg) scaleX(-1);
        transform: translate(0%, -50%) scale(1.5) rotate(90deg) scaleX(-1)
    }
}

@keyframes jumpPlayer {
    0% {
        -webkit-transform: translate(0%, 0%) scale(1.5) rotate(90deg) scaleX(-1);
        transform: translate(0%, 0%) scale(1.5) rotate(90deg) scaleX(-1)
    }

    50% {
        -webkit-transform: translate(0%, -50%) scale(1.5) rotate(90deg) scaleX(-1);
        transform: translate(0%, -50%) scale(1.5) rotate(90deg) scaleX(-1)
    }
}

@-webkit-keyframes jumpComputer {
    0% {
        -webkit-transform: translate(0%, 0%) scale(1.5) rotate(270deg);
        transform: translate(0%, 0%) scale(1.5) rotate(270deg)
    }

    50% {
        -webkit-transform: translate(0%, -50%) scale(1.5) rotate(270deg);
        transform: translate(0%, -50%) scale(1.5) rotate(270deg)
    }
}

@keyframes jumpComputer {
    0% {
        -webkit-transform: translate(0%, 0%) scale(1.5) rotate(270deg);
        transform: translate(0%, 0%) scale(1.5) rotate(270deg)
    }

    50% {
        -webkit-transform: translate(0%, -50%) scale(1.5) rotate(270deg);
        transform: translate(0%, -50%) scale(1.5) rotate(270deg)
    }
}

@media screen and (max-width: 1000px) {

    /* Header */
    header {
        margin: 6vh 3vw;
        width: 50vw;
    }

    /* Outcome message  */
    #outputMessage {
        font-size: 3rem;
    }

    /* Main  */
    #player,
    #computer {
        margin: 9vw;
        margin-top: 23vh;
        margin-bottom: 1vw;
    }

    #computer>img,
    #player>img {
        width: 70px;
    }

    input {
        visibility: hidden;
    }

    #counter {
        font-size: 15vh;
        top: 20vh;
    }

    #start {
        visibility: hidden;
    }
}

@media screen and (max-width:480px) {
    #outputMessage {
        font-size: 2rem;
    }
}
